		<div style="display:none">
            <div class="row template-detail">
			  <div class="col-md-2 col-sm-2 col-xs-12">
                <div class="row">
                       <div class="col-md-12 col-md-12 col-xs-12" data-pk="d.id" data-name="d.name">
<!--
                             <button class="btn btn-danger btn-xs pull-right btn-delete" type="button"  data-placement="top" ><i class="fa fa-remove m-right-xs"></i>Delete</button>
-->
                        </div>
                </div>
              </div>
              <div class="col-md-10 col-sm-10 col-xs-12">
                <div class="x_panel" style="background-color:#F7F7F7">
                    <div class="row">
                        <div class="col-md-12 col-md-12 col-xs-12">
<!--
                            <div class="x_panel">
                                  <div class="x_content">  
                                      <h2>Status detailed info: <small>Not implemented yet.</small></h2>                            
                                  </div>
                            </div>
-->
                        </div>
                    </div>
					<div class="row" >
						  <div class="col-md-4 col-md-4 col-xs-12">
							  <div id="hardware-d.id" class="x_content">
								{% include '/snippets/domain_hardware.html' %}
							</div>
						  </div>
                          
                          <div class="col-md-8 col-md-8 col-xs-12">
                              <div class="row" >
<!--
                                <div class="col-md-12 col-md-12 col-xs-12">
                                    <div id="genealogy-d.id" class="x_content">
                                      {% include '/snippets/domain_genealogy.html' %}
                                    </div>
                                </div>
-->
                                <div class="col-md-12 col-md-12 col-xs-12">
                                    <div id="alloweds-d.id" class="x_content">
                                      {% include '/snippets/alloweds.html' %}
                                    </div>
                                </div>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
            </div>
        </div>

